<!DOCTYPE html>
<html lang="en" ng-app="signApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>安全测试平台</title>
<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body id="star_bg">
	<div ng-view></div>

	<script src="../js/lib/jquery.min.js"></script>
	<script src="../js/lib/bootstrap.min.js"></script>
	<script src="../js/lib/angular.min.js"></script>
	<script src="../js/lib/angular-cookies.min.js"></script>
	<script src="../js/lib/angular-route.min.js"></script>
	<script src="../js/lib/angular-md5.js"></script>
	<script src="../js/sign.js"></script>
	<script src="../js/signin.js"></script>
	<script src="../js/lib/encode64.js"></script>
</body>
</html>
